In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from functools import reduce
from geopy import Point
from geopy import distance

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
EXPORTS_DIR = '../data/exports'
OUTPUT_DIR = '../data/exports'

K = 9

In [3]:
class AnalysisConfig:

    def __init__(self,
                 export_path='',
                 labels_path='',
                 stations_path=''):
        self.export_path = export_path
        self.labels_path = labels_path
        self.stations_path = stations_path

In [4]:
config_sf = AnalysisConfig(
    export_path=f'{OUTPUT_DIR}/centroids_k{K}_sf.csv',
    labels_path=f'{EXPORTS_DIR}/cluster_labels_{K}_sf.csv',
    stations_path=f'{EXPORTS_DIR}/SF_ele_single station.csv',
)

config_dc = AnalysisConfig(
    export_path=f'{OUTPUT_DIR}/centroids_k{K}_dc.csv',
    labels_path=f'{EXPORTS_DIR}/cluster_labels_{K}_dc.csv',
    stations_path=f'{EXPORTS_DIR}/DC_ele_single station.csv',
)

In [5]:
config = config_sf

In [6]:
stations_df = pd.read_csv(config.stations_path, index_col=0)
labels_df = pd.read_csv(config.labels_path, index_col=0)
labels_df = labels_df.join(stations_df)
labels_df[['count']] = labels_df[['label']].copy() * 0
labels_df = labels_df.set_index('label')
display(labels_df)

             lat         lng  elevation  count
label
22     37.767088 -122.407380         12      0
22     37.767100 -122.410662         15      0
1      37.768568 -122.404238          4      0
1      37.771075 -122.402732          4      0
1      37.771461 -122.405788          4      0
...          ...         ...        ...    ...
7      37.722397 -122.443780         56      0
9      37.725982 -122.452461         99      0
9      37.728297 -122.450401        102      0
13     37.730158 -122.432900         37      0
4      37.727140 -122.406664         27      0

[253 rows x 4 columns]

In [7]:
labels_agg_df = labels_df.groupby(['label']).agg({
    'lat': 'mean',
    'lng': 'mean',
    'elevation': 'mean',
    'count': 'count',
})
display(labels_agg_df.head())

             lat         lng  elevation  count
label
0      37.781587 -122.473112  49.111111      9
1      37.773834 -122.398586   4.354839     31
2      37.757350 -122.417521  21.142857     14
3      37.782258 -122.437804  69.000000      8
4      37.731755 -122.393808  20.375000      8

In [8]:
labels_agg_df.to_csv(config.export_path, index=False)