In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from functools import reduce
from geopy import Point
from geopy import distance

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
EXPORTS_DIR = '../data/exports'
OUTPUT_DIR = '../data/exports'

K = 25

In [3]:
class AnalysisConfig:

    def __init__(self,
                 export_path='',
                 labels_path='',
                 stations_path=''):
        self.export_path = export_path
        self.labels_path = labels_path
        self.stations_path = stations_path

In [4]:
config_sf = AnalysisConfig(
    export_path=f'{OUTPUT_DIR}/centroids_k{K}_sf.csv',
    labels_path=f'{EXPORTS_DIR}/cluster_labels_k{K}_sf.csv',
    stations_path=f'{EXPORTS_DIR}/SF_ele_single station.csv',
)

config_dc = AnalysisConfig(
    export_path=f'{OUTPUT_DIR}/centroids_k{K}_dc.csv',
    labels_path=f'{EXPORTS_DIR}/cluster_labels_k{K}_dc.csv',
    stations_path=f'{EXPORTS_DIR}/DC_ele_single station.csv',
)

In [5]:
config = config_dc

In [6]:
stations_df = pd.read_csv(config.stations_path, index_col=0)
labels_df = pd.read_csv(config.labels_path, index_col=0)
labels_df = labels_df.join(stations_df)
labels_df[['count']] = labels_df[['label']].copy() * 0
labels_df = labels_df.set_index('label')
display(labels_df)

             lat        lng  elevation  count
label
4      38.908147 -77.038370         22      0
4      38.905414 -77.034643         22      0
18     38.903552 -77.044822         15      0
18     38.903723 -77.042440         17      0
18     38.905062 -77.041768         17      0
...          ...        ...        ...    ...
5      38.824481 -77.005497         10      0
5      38.836000 -77.000900         20      0
5      38.836656 -76.993587         28      0
13     38.843230 -76.999376         52      0
8      38.892453 -77.046567          7      0

[324 rows x 4 columns]

In [7]:
labels_agg_df = labels_df.groupby(['label']).agg({
    'lat': 'mean',
    'lng': 'mean',
    'elevation': 'mean',
    'count': 'count',
})
display(labels_agg_df.head())

             lat        lng  elevation  count
label
0      38.898156 -77.022912  11.321429     28
1      38.966477 -77.025898  79.500000      6
2      38.869956 -76.980301  11.727273     11
3      38.928787 -77.032849  56.304348     23
4      38.909630 -77.034458  25.500000     26

In [8]:
labels_agg_df.to_csv(config.export_path, index=False)